:root {
    --black:rgb(180, 180, 180);
    --white:#000000;
    --blue:rgb(17, 17, 17);
    --green:rgb(49, 82, 49);
  }
*{
    transition:background-color 0.9s,color 0.2s;
    margin: 0px;
}
body{
    font-family: "poppins", sans-serif;
    background-color: var(--white);
    color: var(--black);
    transition-duration: 1s;
    transition-property: background-color;
}
.header{
    position: sticky;
    top: 0%;
    z-index: 1;
    width: 100vw;
    background-color: var(--white);
}
header{
    display: flex;
    flex-direction: column;
}
.width{
    width: 60vw;
    margin: 0px auto;
}
nav{
    padding: 2px 0px;
    display: flex;
    color: var(--black);
}
nav>p{
    margin-top: 3px;
    width:70%;
    font-size: 1.5rem;
    font-weight: 500;
}
nav i{
    margin-right: 10px;
}
nav>.navlinks{
    position: relative;
    width: 30%;
    left: 10px;
    display: flex;
    align-items: center;    
}
nav a{
    width: 60%;
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.3s;
}
.navlinks>i{
    font-size: 1.8em;
    visibility: hidden;
    color: var(--black);
}
/*Mode Button*/
.button{
    display: inline-block;
    background-color: var(--black);
    width: 60px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.8s;
}
.button::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin:2.7px;
    background-color: var(--white);
    transition-duration: 0.8s;
}
#mode:checked + .button{
    background-color: var(--black);
}
#mode:checked + .button::before{
    background-color: var(--white);
    transform: translateX(30px);
}
#mode{
    display: none;
    width: 100%;
}
#modebutton{
    padding-top: 5px;
    position: relative;
    left: 15px;
    width: 40%;
}
nav a:hover{
    transform: translateY(-1px);
}


/* Menu items */
.menuitems{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: var(--white);
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    transform: translateY(-50px);
    position: relative;
    z-index: 1;
}
.menuitems>a{
    margin-right: 12%;
    color: var(--black);
    color: var(--white);
    font-size: 1.2em;
    margin: 5px 0px;
    margin-right: 10%;
    padding: 3px 0px;
    transition: all .5s;
}
.menuitems>a:hover{
    transform: translateX(3px);
}
.active{
    height: 100%;
    visibility: visible;
    background-color: var(--black);
    transform: translateY(-10px);
}
.closeicon#menuicon{
    display: none;
}
#closeicon{
    display: none;
}
/* Main Content */

.content{
    margin-top: -140px;
    width: 100vw;
    background-color: var(--blue);
}
.searchbar{
    display: flex;
    justify-content: end;
    position: relative;
    color: var(--white);
    padding: 4px 0px;
    background-color: var(--blue);
}
.searchbar>input{
    font-family: "poppins", sans-serif;
    width: 100%;
    background-color: var(--black);
    border: 2px solid var(--white);
    color: var(--white);
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.searchbar i{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -30px;
    font-size: 1.3rem;
}
.searchbar>input:focus{
    outline: none;
}
/* Options */
.options{
    position: relative;
    display: flex;
    justify-content: left;
    width: 60%;
    color: var(--black);
}
.box{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.options span{
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 5px;
    font-weight: 500;
}
select{
cursor: pointer;
font-size: 1em;
font-family: "poppins", sans-serif;
letter-spacing: 1px;
font-weight: 400;
padding: 2px 10px;
outline: none;
background-color: var(--blue);
color: var(--black);
border: 1px solid var(--black);
}
select:hover{
    background-color: var(--black);
    color: var(--white);
}
option{
    padding: 5px 30px;
    color: var(--white);
    background-color: var(--blue);
    padding: 2px;
}

/* Main Content */

.maincontent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
    padding-top: 0px;
    color: var(--white);
    row-gap: 20px;
    transition: height 2s;
    width:85vw;
    margin:0px auto;
    margin-top: 40px;
}
.card{
    width:95%;
    margin:0px auto;
    min-height: 300px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}
.card:hover{
    transform: translatey(-3px);
    color: var(--black);
    background-color: var(--green);
  
}
.card img{
    width: 100%;
    height: 330px;
    object-fit: cover;
}
.card .title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom : 5px;
    line-height: 30px;
    padding: 0px 15px;
}
.news-source{
    font-weight: 600;
    font-size: 0.9em;
    padding: 0px 15px;
}
.news-desc{
    padding: 15px 15px;
}
#Redirect{
    font-size: 0.9Rem;
    color: darkblue;
    display: none;
}

/* Error */
.error{
    margin: 20px auto;
    display: none;
}
.error>img{
    width:400px;
    height: 400px;
}
.error p{
    font-weight: 700;
    margin-top: 20px;
    font-size: 1.34rem;
    display:flex;
    justify-content: center;
    color: var(--black);
}
.erroractive{
    display: block;
}
/* Media query*/
@media only screen and (max-width: 1520px) {
    .width{
        width: 90%;
    }
}

@media only screen and (max-width: 907px) {
    nav a{
        display: none;
    }
    .navlinks>i{
        cursor: pointer;
        visibility: visible;
    }
    .header{
        width: 100%;
    }
}
@media only screen and (max-width: 760px) {
    .navlinks>i{
        position: relative;
        right: -25px;
    }    #modebutton{
        padding-left: 60px;
    }
    .options{
        width: 95%;
    }
    .box{
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 600px) {
    #modebutton{
        left: -40px;
    }
    .navlinks i{
        left: -15px;
    }
    .width{
        margin: 0px 4%;
    }
    .options{
        font-size: 0.6em;
        margin-left: 10px;
        left: 3%;
        width: 90%;
    }
    .searchbar>input{
        font-size: 0.7rem;
        right:-40px;
    }
    .searchbar{
        left: 3%;
    }
    .box{
        padding-left: 0px;
    }

    .maincontent{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        width:95vw;
        margin-top: 20px;
    }
    .card .title{
        padding: 0px 15px;
        font-size: 1.1rem;
        line-height: 18px;
    }
    .news-source{
        padding: 0px 15px;
        font-size: 0.6em;
    }
    .news-desc{
        padding: 0px 15px;
        line-height: 18px;
        font-size: 0.8rem;
    }
    .news-desc{
        padding-bottom: 20px;
    }
    .card img{
        height: 200px;
    }
}
@media only screen and (max-width: 400px) {
    header{
        margin: 0px 10px;
    }
    header p{padding-top: 5px;
        font-size: 1rem;}
    #modebutton{
        left: -40px;
    }
    .navlinks i{
        left: -15px;
    }
    .searchbar>input{
        font-size: 0.7rem;
    }
    .options{
        font-size: 0.6em;
        margin-left: 0px;
        left: 2%;
        width: 95%;
    }
    .error{margin: 50px auto;}
    .error p{margin-top: 10px;}
    .error>img{
        display: flex;
        justify-content: center;
        width: 300px;
        height: 300px;
    }
}
